.container{
    position: absolute;
    display: flex;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.floor {
    position: absolute;
    height: 20%;
    width: 100%;
    left: 0;
    bottom: 0;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.floor::after {
    content: "";
    display: block;
    height: 200%;
    width: 200%;
    background-image: url("../assets/img/floor.jpg");
    background-size: 15cap;
    background-repeat: repeat;
    transform: perspective(400px) rotateX(35deg);
}

.direct-wall {
    position: absolute;
    height: 80%;
    width: 84%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    background-image: url("../assets/img/brick.jpg");
    background-size: 20cap;
    background-repeat: repeat;
    border-left: 2px solid #111111;
    border-right: 2px solid #111111;
}

.left-wall {
    position: absolute;
    height: 150%;
    width: 8%;
    top: -50%;
    left: 0;
    z-index: -2;
    background-color: #111111;
    clip-path: polygon(0 0, 100% 13.5%, 100% 86.5%, 0 100%); 
}

.left-wall::after {
    content: "";
    position: absolute;
    left: 0%;
    display: block;
    height: 100%;
    width: 200%;
    z-index: -2;
    background-image: url("../assets/img/brick.jpg");
    background-size: 20cap;
    background-repeat: repeat;
    transform: perspective(400px) rotateY(45deg);
}

.right-wall {
    position: absolute;
    height: 150%;
    width: 8%;
    top: -50%;
    right: 0;
    z-index: -2;
    background-color: #111111;
    clip-path: polygon(100% 0, 0 13.5%, 0 86.5%, 100% 100%);
}

.right-wall::after {
    content: "";
    position: absolute;
    right: 0%;
    display: block;
    height: 100%;
    width: 200%;
    z-index: -2;
    background-image: url("../assets/img/brick.jpg");
    background-size: 20cap;
    background-repeat: repeat;
    transform: perspective(400px) rotateY(-45deg);
}

.windows {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40%;
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.windows::after {
    content: "";
    position: absolute;
    right: 30%;
    display: block;
    height: 100%;
    width: 5%;
    background-image: url("../assets/img/brick.jpg");
    background-size: 20cap;
    background-repeat: repeat;
}

.windows::before {
    content: "";
    position: absolute;
    left: 30%;
    display: block;
    height: 100%;
    width: 5%;
    background-image: url("../assets/img/brick.jpg");
    background-size: 20cap;
    background-repeat: repeat;
}

.glass-1 {
    background-image: url("../assets/img/glass.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.border-1 {
    background-image: url("../assets/img/border-window.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.glass-2 {
    background-image: url("../assets/img/glass.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left:35%;
    opacity: 0.5;
}

.border-2 {
    background-image: url("../assets/img/border-window.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left:35%;
    z-index: 1;
}

.glass-3 {
    background-image: url("../assets/img/glass.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}

.border-3 {
    background-image: url("../assets/img/border-window.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px;
}

.machine {
    border: 1px solid #ddd;
    padding: 0px 0px 10px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

.machine-image {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.occupied {
    color: red;
}

.free {
    color: green;
}

.notify-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.notify-button:hover {
    background-color: #0056b3;
} */
